body::before{
    display: block;
    content: "";
    height: 72px;
}

#boxes .card{
    min-height:280px;
}

#instructor img{
    width: 130px;
    background-color:rgb(211, 193, 189) ;
}

/* Break point for medium */
@media(min-width:750px){
    .news-input{
        width:50%;
    }
}

#learn img{
    height:350px;
}